/* @theme xebia */

/*
  ============================================
    Created by Paulo Cunha
    version: 1.0
    last update: 17.mar.2024
  ============================================       
*/

/* Importing COLOR SCHEMA */

@import "default";
@import "schema";
@import "structure";

/* Importing Font */
/* Font Credit: htts://https://www.cdnfonts.com/ */
@import url("https://fonts.cdnfonts.com/css/fira-sans-condensed?styles=19730");
@import url("https://fonts.cdnfonts.com/css/noto-sans-sc");

:root {
  font-family: BodyFont, sans-serif;
  font-family: "Fira Sans", sans-serif;
  font-weight: initial;

  /* --default-background-color: #d6d2c6;  */
  --default-background-color: #f7b900;
  --default-font-color: rgb(68, 19, 16);

  --default-list-font-color: #e0ac00;
  --cool-list-color: rgb(255, 31, 1);

  --bold-color: rgb(0, 85, 255);

  --default-header-font-color: rgb(22, 22, 22);
  --subtitle-color: rgb(12, 55, 75);
  --letter-spacing: -0.6px !important;
  --default-header-bold-font-color: rgb(228, 5, 5);
  --default-strong-font-color: rgb(201, 59, 34);
  --italic-background-color: orangered;
  --default-border-color: 2px solid rgb(211, 34, 11);
  background-image: url("http://localhost:5500/bg.jpg");
  color: var(--default-font-color);
}

@keyframes marp-transition-dissolve {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* ---------------- COVER PAGE ---------------- */
